<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
  <title>Bookstore</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js"></script>

  <div style="display: none;" sec:authorize="hasAuthority('ADMIN')" id="isadmin"></div>
  <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
  <div class="col-md-4" style="padding:10px">
	    <form th:action="logout" method="post">
	        <input type="submit" class="btn btn-danger" value="Log Out"/>
	    </form>
  </div>

  <div class="container" id='root'></div>

  <script type="text/babel" src="App.js"></script>

</body>
</html>
