<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookstore Sign-up Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
	<div class="container">
	<h1>Sign-up to Bookstore</h1>
	<form th:object="${signupform}" th:action="@{saveuser}" action="#" method="post">
		<div class="form-group">
			<label>Username:</label>
			<input class="form-control" type="text" th:field="*{username}" autofocus="true" />
			<p class="bg-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
		</div>
		<div class="form-group">
			<label>Email:</label>
			<input class="form-control" type="text" th:field="*{email}" />
			<p class="bg-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>
		</div>
		<div class="form-group">
			<label>Password:</label>
			<input class="form-control" type="password" th:field="*{password}" />
			<p class="bg-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
		</div>
		<div class="form-group">
			<label>Re-type Password:</label>
			<input class="form-control" type="password" th:field="*{passwordCheck}" />
			<p class="bg-warning" th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>
		</div>
		<div class="form-group row">
				<div class="col-md-6">
					<input class="btn btn-primary" type="submit" value="Signup"></input>
				</div>
				<div class="col-md-6 text-right">
					<a class="btn btn-default" href=".">Cancel</a>
				</div>
		</div>
	</form>
	</div>
</body>
</html>
